@section title {
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Welcome to the Medical Clinic!</h1>
            <p class="lead">Here you can browse through Appointments, Doctors, and more. Feel free to register!</p>
        </div>
    </div>
}
