@model RoomViewModel

@section title {
    <h3>Add Room</h3>
}

<form method="post" asp-controller="rooms" asp-action="add">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Room.PatientId" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <select asp-for="Room.PatientId" class="form-control">
                <option value="">- Select Patient -</option> <!-- Set value to empty string -->
                @if (Model.Patients != null && Model.Patients.Count() > 0)
                {
                    @foreach (var pat in Model.Patients)
                    {
                        <option value="@pat.PatientId">@pat.LastName</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Room.Name" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Room.Name" class="form-control" />
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Room.Floor" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Room.Floor" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="col-6">
        </div>
    </div>
</form>
